// Text colours 
$colour-text-main: #000000;
$colour-text-light: #5F5F5F;
$colour-text-gray :#282828;
$colour-text-pink: #FF3F5C;


// Backgrounds colours
$colour-bg-main: #000000;
$colour-bg-red: #FF0000;
$colour-bg-violet: #5B4396;
$colour-bg-green: #39D0AE;