.btn {
    padding: 8px 16px;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.018em;
    border: 2px solid transparent;
    border-radius: 8px;
    background: #fff;
    outline: none;
    cursor: pointer;
    transition: all 0.3s;
    // width: 100%;
    // max-width: 130px;

    &:hover {
        // filter: brightness(1.5)
    }




}

.more {
    font-size: 13px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #5B4396;
    font-weight: bold;
}

.buy {
    border: 1.5px solid rgba(57, 208, 174, 0.1);
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.018em;
    color: #39D0AE;
    padding: 6px 12px 6px 26px;

    position: relative;

    &:before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url('../../assets/img/buttons/shopping-cart-green.svg');
        position: absolute;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
    }
}

.activate {
    border: 1.5px solid #399B29;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    padding: 4px 2px;
    color: #399B29;
    border-radius: 4px;
    background: transparent;

    @include media(desktop) {
        border: none;
    }
}

.form-btn {
    border-radius: 8px;
    width: 100%;
    padding: 14px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.75px;
    text-transform: capitalize;
    border: none;
}

.reset {
    background: #F0F0F0;

    color: #CACACA;

}

.show-result {
    background: #FF3F5C;
    color: #ffffff;


    span {
        display: contents;
    }
}


.text-white {
    color: #ffffff;
}

.text-dark {
    color: $colour-text-main;
}

.text-gray {
    color: #9c9c9c;
}

.text-pink {
    color: #FF3F5C;
}

.border-pink {
    border: 2px solid #FF3F5C;

}

.border-violet {
    border: 2px solid rgba(91, 67, 150, 0.5);
}

.transparent {
    background: transparent;
}

.bg-pink {
    background: #FF3F5C;
}

.bg-green {
    background: #39D0AE;
}

.bg-gray {
    background: #F0F0F0;
}