body.dark {
    transition: all 0.5s ease-in-out;
    background: #252525;

    .burger__menu,
    .burger__search {

        &:after,
        &:before {
            background: #cacaca;
        }

        span {
            background: #cacaca;
        }
    }


    .header__mobile {

        &-head {
            background: #333;
        }

        &-body,
        &-submenu {
            background: #252525;
            color: #cacaca;

        }

        &-item a {
            color: #cacaca;
        }

        &-btns {
            background: #2F2E2E;
        }

        &-theme {

            p,
            a {
                color: #cacaca;

            }

        }
    }

    .header__wide {
        a {
            color: #f0f0f0;
        }

        img {
            filter: invert(1) hue-rotate(180deg);
        }
    }



    .search__box {
        background: #333;

        input {
            background: transparent;
            color: #cacaca;
        }

        &-more {
            background: #646464;
            color: #cacaca;
        }
    }

    .search__result {
        background: #252525;

        h6,
        p {
            color: #fff;
        }
    }


    .cart__box {
        background: #333;
        color: #cacaca;

        input {
            background: transparent;
            color: #cacaca;
        }

        button {
            background: #5F5F5F;
            color: #CACACA;
        }

        h6,
        p {
            color: #fff;
        }
    }


    .intro {
        &:before {
            background: #252525;
        }

        color: #cacaca;

        a {
            color: #cacaca
        }

        &__categories-item {
            img {
                filter: invert(1) hue-rotate(180deg);

            }
        }

    }

    .large {
        &__preferences {
            &-describe {
                p {
                    color: #CACACA;
                }
            }
        }

        .news {
            &-date {
                color: #5f5f5f;
            }
        }
    }

    .main-title {
        color: #f0f0f0;
    }

    // CARTBOX

    .cart__box {
        &-price {
            color: #f0f0f0;
        }

        .total__item-count {
            background: transparent;
            color: #cacaca;
        }

        input {
            background: #fff;
        }

        &-tabnames {
            a {
                color: #f0f0f0;
                transition: all 0.3s;

                &.current {
                    color: $colour-text-pink;
                }

            }

        }

        &-item {
            border-bottom: 1px solid rgba(255, 255, 255, 0.03);
        }

        .points-body {
            p {
                color: $colour-text-main;
            }
        }

        .activate {

            background: transparent;
            color: $colour-text-main;
        }
    }

    // SEARCH RESULT BOX
    .search__result-title,
    .search__history-header,
    .buy__card-price {
        color: #f0f0f0;

    }

    .buy__card-rating {

        span {
            color: #f0f0f0;

        }
    }

    .search__result .show__card-description {
        color: $colour-text-main;
    }

    .reg__box {
        background: #252525;

        &-title {
            color: #cacaca;
        }

        input {
            &::placeholder {
                color: #cacaca;
            }
        }

        button.bg-gray {
            background: #5F5F5F;
            color: #f0f0f0;
        }

        .btn-box {
            button {
                color: #FFA654;

                &:last-of-type {
                    color: #4AD4FF;
                }
            }
        }
    }




    .footer {

        &__title,
        &__text,
        &__phone,
        &__address {
            color: #cacaca;
        }

        &__btn {
            background: transparent;
            border-color: $colour-text-pink;
            color: #f0f0f0;
        }

        &__subtitle {
            color: $colour-text-pink;
        }


        &__nav-item {
            a {
                color: #cacaca;
            }
        }

        &__rights {
            &::after {
                background: #2F2E2E;
            }

            p {
                color: #CACACA;

                a {
                    color: $colour-text-pink;
                }
            }
        }
    }

}